{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="{% static 'styleSheet.css' %}">
    <meta charset="UTF-8">
    <title>Edit Profile Admin</title>
</head>

<header>
    <nav>
        <ul class="left">

            <li><img src="../../static/imgs/logo.png" alt="" width="20px" height="20px" title="logo"></li>
            <li><a href="../">Home</a></li>
            <li><a href="../profile">Profile</a></li>
            <li><a href="../student_screen">Student Screen</a></li>
        </ul>
        <ul class="right">
            <li><a href="../../signin">Sign out</a></li>
            <li><a href="../help">Help?</a></li>
        </ul>
    </nav>
</header>

<body>
    <form id="editProfile-admin" action="../profile" method="post">
        {% csrf_token %}
        <h3>Edit the profile information</h3>

        <label for="name"> Name</label><br>
        <input type="text" id="name" value="{{admin.name}}" name="name">

        <br>
        <label for="E-mail"> Email</label><br>
        <input type="email" id="E-mail" value={{admin.email}} name="email">
        <br>

        <label for="Phone Number"> Phone Number</label><br>
        <input type="tel" id="PhoneNumber" pattern="01[0-2]{1}[0-9]{4}[0-9]{4}" value={{admin.phone}} name="phone">
        <br>

        
        <label for="gender">Gender</label>
            <span id="editGender">
                {%if admin.gender == 'male'%}
                <input type="radio" name="Gender" value='Male' checked >
                <label>Male</label>
                {% else %}
                <input type="radio" name="Gender" value='male' disabled >
                <label>Male</label>
                {% endif %}

                {%if admin.gender == 'female'%}
                <input type="radio" name="Gender" value="Female" checked >
                <label>Female</label>
                {% else %}
                <input type="radio" name="Gender" value="Female" disabled>
                <label>Female</label>
                {% endif %}
            </span>

        <input id="saveInfo" type="submit" class="submit" value="Save" >


    </form>
</body>

</html>