{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="{% static 'styleSheet.css' %}" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />

    <title>edit page</title>
  </head>

  <header>
    <nav>
      <ul class="left">
        <li>
          <img
            src="../../../static/imgs/logo.png"
            alt=""
            width="20px"
            height="20px"
            title="logo"
          />
        </li>
        <li><a href="../../">Home</a></li>
        <li><a href="../../profile">Profile</a></li>
        <li><a href="../../student_screen">Student Screen</a></li>
      </ul>
      <ul class="right">
        <li><a href="../../../signin">Sign out</a></li>
        <li><a href="../help">Help?</a></li>
      </ul>
    </nav>
     <script>
      function editStudent() {
        // Get form data and id
        const studentId = document.getElementById("id").value;

        const form = document.getElementById("edit-form");
        const formData = new FormData(form);

        // Create an empty object to store the form data
        const payload = {};

        // Populate the form data object with key-value pairs
        for (let entry of formData.entries()) {
          payload[entry[0]] = entry[1];
        }

        // Send the AJAX request
        const xhr = new XMLHttpRequest();
        xhr.open("POST", "/update_student_info/" + studentId + "/");
        xhr.setRequestHeader("Content-Type", "application/json");
        xhr.onload = function () {
          if (xhr.status === 200) {
            const response = JSON.parse(xhr.responseText);
            console.log(response.message);
            alert(response.message);
          } else {
            console.error("Error:", xhr.status);
          }
        };

        xhr.send(JSON.stringify(payload));
      }

      function deleteStudent() {
        const studentId = document.getElementById("id").value;

        const xhr = new XMLHttpRequest();
        xhr.open("DELETE", "/delete_student/" + studentId + "/");
        xhr.setRequestHeader("Content-Type", "application/json");
        xhr.onload = function () {
          if (xhr.status === 200) {
            const response = JSON.parse(xhr.responseText);
            alert(response.message);
          } else {
            alert("Delete student failed!");
            console.error("Error:", xhr.status);
          }
        };

        xhr.send();
      }
    </script>
  </header>

  <body>
    <form id="edit-form">
      <h3>Edit Page</h3>

      <div class="input-field">
        <label for="student-name">Name</label>
        <input
          type="text"
          id="edit-name"
          placeholder="Enter student's full name"
          value="{{student.name}}"
        />
      </div>
      <div class="input-field">
        <label for="edit-id">Student ID</label>
        <input
          type="text"
          id="edit-id"
          placeholder="Enter student's ID"
          value="{{student.id}}"
          disabled
        />
      </div>

      <div class="input-field">
        <label for="edit-email">Email</label>
        <input
          type="email"
          id="edit-email"
          placeholder="Enter student's email"
          value="{{student.email}}"
        />
      </div>

      <div class="input-field">
        <label for="edit-phone">Phone</label>
        <input
          type="tel"
          id="edit-phone"
          placeholder="Enter student's phone number"
          value="{{student.phone}}"
        />
      </div>

      <div class="input-field">
        <label>Gender</label>
        <div class="radio-container">
          <label class="radio-button">
            {%if student.gender == 'Male'%}
            <input
              type="radio"
              id="edit-male"
              name="edit-gender"
              value="male"
              checked
              disabled
            />
            {% else %}
            <input
              type="radio"
              id="edit-male"
              name="edit-gender"
              value="male"
              disabled
            />
            {% endif %} Male
          </label>
          <label class="radio-button">
            {%if student.gender == 'Female'%}
            <input
              type="radio"
              id="edit-female"
              name="edit-gender"
              value="female"
              checked
              disabled
            />
            {% else %}
            <input
              type="radio"
              id="edit-female"
              name="edit-gender"
              value="female"
              disabled
            />
            {% endif %} Female
          </label>
        </div>
      </div>

      <div class="input-field">
        <label>Status</label>
        <div class="radio-container">
          <label class="radio-button">
            {%if student.status == 'Active'%}
            <input
              type="radio"
              name="edit-status"
              value="active"
              checked
              disabled
            />
            {%else%}
            <input type="radio" name="edit-status" value="active" disabled />
            {% endif %} Active
          </label>
          <label class="radio-button">
            {%if student.status == 'Inactive'%}
            <input
              type="radio"
              name="edit-status"
              value="inactive"
              checked
              disabled
            />
            {% else %}
            <input type="radio" name="edit-status" value="inactive" disabled />
            {% endif %}Inactive
          </label>
        </div>
      </div>

      <div class="input-field">
        <label for="edit-level">Level</label>
        <select name="level" id="edit-level">
          {% if student.level == 1 %}
          <option value="1" selected>First Level</option>
          {%else%}
          <option value="1">First Level</option>
          {% endif %} {% if student.level == 2 %}
          <option value="2" selected>Second Level</option>
          {% else %}
          <option value="2">Second Level</option>
          {% endif %} {% if student.level == 3 %}
          <option value="3" selected>Third Level</option>
          {% else %}
          <option value="3">Third Level</option>
          {% endif %} {% if student.level == 4 %}
          <option value="4" selected>Forth Level</option>
          {% else %}
          <option value="4">Forth Level</option>
          {% endif %}
        </select>
      </div>

      <div class="input-field">
        <label for="edit-department">Department</label>
        <select name="Department" id="edit-department" disabled>
          <option value="" selected disabled>Select Department</option>
          {% if student.department == 'General' %}
          <option value="General" selected>General</option>
          {% elif student.department == 'CS' %}
          <option value="CS" selected>Computer Science</option>
          {% elif student.department == 'AI' %}
          <option value="AI" selected>Artificial Intelligence</option>
          {% elif student.department == 'IS' %}
          <option value="IS" selected>Information Science</option>
          {% elif student.department == 'IT' %}
          <option value="IT" selected>Information Technology</option>
          {% endif %}
        </select>
      </div>

      <div class="input-field">
        <label for="edit-gpa">GPA</label>
        <input
          type="text"
          id="edit-gpa"
          placeholder="Enter student's GPA"
          value="{{student.gpa}}"
        />
      </div>

      <div class="input-field">
        <label for="edit-national-id"> National ID</label>
        <input
          type="text"
          id="edit-national-id"
          placeholder="Enter student's National ID"
          value="{{student.nationalid}}"
        />
      </div>

      <div class="input-field">
        <label for="edit-nationality">Nationality</label>
        <select name="nationality" id="edit-nationality">
          {% if student.nationality == 'Algerian' %}
          <option value="Algerian" selected>Algerian</option>
          {% else %}
          <option value="Algerian">Algerian</option>
          {% endif %} {% if student.nationality == 'Bahraini' %}
          <option value="Bahraini" selected>Bahraini</option>
          {% else %}
          <option value="Bahraini">Bahraini</option>
          {% endif %} {% if student.nationality == 'Comorian' %}
          <option value="Comorian" selected>Comorian</option>
          {% else %}
          <option value="Comorian">Comorian</option>
          {% endif %} {% if student.nationality == 'Djiboutian' %}
          <option value="Djiboutian" selected>Djiboutian</option>
          {% else %}
          <option value="Djiboutian">Djiboutian</option>
          {% endif %} {% if student.nationality == 'Egyptian' %}
          <option value="Egyptian" selected>Egyptian</option>
          {% else %}
          <option value="Egyptian">Egyptian</option>
          {% endif %} {% if student.nationality == 'Emirati' %}
          <option value="Emirati" selected>Emirati</option>
          {% else %}
          <option value="Emirati">Emirati</option>
          {% endif %} {% if student.nationality == 'Iraqi' %}
          <option value="Iraqi" selected>Iraqi</option>
          {% else %}
          <option value="Iraqi">Iraqi</option>
          {% endif %} {% if student.nationality == 'Jordanian' %}
          <option value="Jordanian" selected>Jordanian</option>
          {% else %}
          <option value="Jordanian">Jordanian</option>
          {% endif %} {% if student.nationality == 'Kuwaiti' %}
          <option value="Kuwaiti" selected>Kuwaiti</option>
          {% else %}
          <option value="Kuwaiti">Kuwaiti</option>
          {% endif %} {% if student.nationality == 'Lebanese' %}
          <option value="Lebanese" selected>Lebanese</option>
          {% else %}
          <option value="Lebanese">Lebanese</option>
          {% endif %} {% if student.nationality == 'Libyan' %}
          <option value="Libyan" selected>Libyan</option>
          {% else %}
          <option value="Libyan">Libyan</option>
          {% endif %} {% if student.nationality == 'Mauritanian' %}
          <option value="Mauritanian" selected>Mauritanian</option>
          {% else %}
          <option value="Mauritanian">Mauritanian</option>
          {% endif %} {% if student.nationality == 'Moroccan' %}
          <option value="Moroccan" selected>Moroccan</option>
          {% else %}
          <option value="Moroccan">Moroccan</option>
          {% endif %} {% if student.nationality == 'Omani' %}
          <option value="Omani" selected>Omani</option>
          {% else %}
          <option value="Omani">Omani</option>
          {% endif %} {% if student.nationality == 'Palestinian' %}
          <option value="Palestinian" selected>Palestinian</option>
          {% else %}
          <option value="Palestinian">Palestinian</option>
          {% endif %} {% if student.nationality == 'Qatari' %}
          <option value="Qatari" selected>Qatari</option>
          {% else %}
          <option value="Qatari">Qatari</option>
          {% endif %} {% if student.nationality == 'Saudi Arabian' %}
          <option value="Saudi Arabian" selected>Saudi Arabian</option>
          {% else %}
          <option value="Saudi Arabian">Saudi Arabian</option>
          {% endif %} {% if student.nationality == 'Somali' %}
          <option value="Somali" selected>Somali</option>
          {% else %}
          <option value="Somali">Somali</option>
          {% endif %} {% if student.nationality == 'Sudanese' %}
          <option value="Sudanese" selected>Sudanese</option>
          {% else %}
          <option value="Sudanese">Sudanese</option>
          {% endif %} {% if student.nationality == 'Syrian' %}
          <option value="Syrian" selected>Syrian</option>
          {% else %}
          <option value="Syrian">Syrian</option>
          {% endif %} {% if student.nationality == 'Tunisian' %}
          <option value="Tunisian" selected>Tunisian</option>
          {% else %}
          <option value="Tunisian">Tunisian</option>
          {% endif %} {% if student.nationality == 'Yemeni' %}
          <option value="Yemeni" selected>Yemeni</option>
          {% else %}
          <option value="Yemeni">Yemeni</option>
          {% endif %}
        </select>
      </div>

      <div class="input-field">
        <label for="edit-date-of-birth">Date of birth</label>
        <input
          type="date"
          id="edit-date-of-birth"
          value="{{ student.birthdate|date:'Y-m-d' }}"
        />
      </div>
      <br /><br />
      <div id="edit-info-button">
        <button type="button" onclick="editStudent()">Save</button>
        <button type="button" onclick="deleteStudent()">Delete</button>
      </div>
    </form>
  </body>
</html>
