{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="{% static 'styleSheet.css' %}">
  <title>Help Page</title>

</head>

<header>
  <nav>
    <ul class="left">

      <li><img src="../static/imgs/logo.png" alt="" width="20px" height="20px" title="logo"></li>
      <li><a href="../home">Home</a></li>
      <li><a href="profile">Profile</a></li>
      <li><a href="student_screen">Student Screen</a></li>
    </ul>
    <ul class="right">
      <li><a href="../signin">Sign out</a></li>
      <li><a href="">Help?</a></li>
    </ul>
  </nav>
</header>

<body>
  <h1>Trouble Using The Website? <br> That's the problem with Muggle technology...</h1>
  <P>Okay My Friend Let Us Guide You till You Master Muggle Technology.
    <br> Imagine This Website Just Like your Wound Okay, But Instead of Using Spells you Press on Links or Buttons!
    and Just Like How Each Spell Has Its Own Effect So Does The Links.<br>
    But Fear Not My Friend, Links and Buttons Not as dangerous as spells can be.
  </p>
  <h2>First Make Sure you Have Signed in Correctly By Using The Right Data. </h2>
  <h3>Home</h3>
  <p> Her you Can See The Announcements and schedule, and You Can also Edit Them
    There and Add New Announcements.</p>
  <h3>Profile</h3>
  <p>Her you Can See your Information and Edit Them.</p>
  <h3>Sign out</h3>
  <p>Once you press on That Link It is Going Lead you to Sign in Form.</p>
  <h3>Help</h3>
  <p>This is the Help page and as you Can See It Has Some Instructions to Help you Use Muggle technology. </p>
  <h3>Student Screen</h3>
  <p>This is Where you Can Control Almost Every Thing About Students.</p>
  <h4>Add new student</h4>
  <p>This is Where you Can Add new student.</p>
  <h4>View All students</h4>
  <p>This is Where you Can View All students Either Their Status is Active or Inactive.</p>
  <h4>Search</h4>
  <p>This is Where you Can Search Active Students By Their Names Then you Can Select a Specific Student After Searching
    to
    Edit their Information or Assign a Department Through Student Department Assignment.</p>

  <h2>If This Did not Help you Enough Do not Worry at All as you Can Contact Us By Many Ways </h2>
  <h3> First you Can Email Our Support Team at HogwartsSupport@gmail.com <br>
    Second If you Prefer Old Fashion Ways no Problem you Can Send letters by owl post It is the most common Way
    Among Witches and wizards,
    but other forms of communication Like Wizarding Wireless radios and talking through fireplaces ...etc.
    are unfortunately not Supported Currently.
  </h3>
</body>

</html>