{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="{% static 'styleSheet.css' %}">
  <title>Help Page</title>

</head>

<header>
  <nav>
    <ul class="left">

      <li><img src="../static/imgs/logo.png" alt="" width="20px" height="20px" title="logo"></li>
      <li><a href="../home">Home</a></li>
      <li><a href="profile">Profile</a></li>
      <li><a href="student_screen">Student Screen</a></li>
    </ul>
    <ul class="right">
      <li><a href="../signin">Sign out</a></li>
      <li><a href="">Help?</a></li>
    </ul>
  </nav>
</header>

<body>
  <h1>Trouble Using The Website? <br> That's the problem with Muggle technology...</h1>
  <h2 class="help_text">Okay My Friend Let Us Guide You till You Master Muggle Technology.
    <br> Imagine This Website Just Like your Wound Okay, But Instead of Using Spells you Press on Links or Buttons!
    and Just Like How Each Spell Has Its Own Effect So Does The Links.<br>
    But Fear Not My Friend, Links and Buttons Not as dangerous as spells can be.
  </h2>
  <h2>First Make Sure you Have Signed in Correctly By Using The Right Data. </h2>
  <div class="help_div">
  <h3>&nbsp;Profile</h3>
  <p>&nbsp;&nbsp;&nbsp;Her you Can See your Information and Edit Them.</p><hr></div>
    <div class="help_div">
  <h3>&nbsp;Sign out</h3>
  <p>&nbsp;&nbsp;&nbsp;Once you press on That Link It is Going Lead you to Sign in Form.</p><hr></div>
    <div class="help_div">
  <h3>&nbsp;Help</h3>
  <p>&nbsp;&nbsp;&nbsp;This is the Help page and as you Can See It Has Some Instructions to Help you Use Muggle technology. </p><hr></div>
    <div class="help_div">
  <h3>&nbsp;Student Screen</h3>
  <p>&nbsp;&nbsp;&nbsp;This is Where you Can Control Almost Every Thing About Students like:</p>
    </div>
    <ul class="help_list">
      <li>
        <h4><img src="../static/imgs/add_studentfinal.png"><br> Add new student</h4>
        <p>This is Where you Can Add new student.</p>
      </li>
      <li>
        <h4><img src="../static/imgs/view%20v3.png"><br>View All students</h4>
         <p>This is Where you Can View All students <br>Either Their Status is Active or Inactive.</p>
      </li>
      <li>
         <h4><img src="../static/imgs/searchwithstars.png"><br>Search</h4>
  <p>This is Where you Can Search Active Students <br>By Their Names Then you Can Select a Specific Student After Searching<br>
    to
    Edit their Information <br>or Assign a Department Through Student Department Assignment.</p>
      </li>
    </ul><hr>
  <h1>Last thing my Friend:</h1>
<div class="help_text">
  <h2>If This Did not Help you Enough Do not Worry at All as you Can Contact Us By Many Ways </h2>
  <h3> First you Can Email Our Support Team at HogwartsSupport@gmail.com <br>
    Second If you Prefer Old Fashion Ways no Problem you Can Send letters by owl post It is the most common Way
    Among Witches and wizards,
    but other forms of communication Like Wizarding Wireless radios and talking through fireplaces ...etc.
    are unfortunately not Supported Currently.
  </h3></div>
</body>

</html>