{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'styleSheet.css' %}">
    <title>Home Page</title>
</head>

<header>
    <nav>
        <ul class="left">

            <li><img src="../static/imgs/logo.png" alt="" width="20px" height="20px" title="logo"></li>
            <li><a href="" class="myPage">Home</a></li>
            <li><a href="profile">Profile</a></li>
            <li><a href="student_screen">Student Screen</a></li>
        </ul>
        <ul class="right">
            <li><a href="../signin">Sign out</a></li>
            <li><a href="help">Help?</a></li>
        </ul>
    </nav>
</header>

<body>
    <form>
        <div>
            <h1 class="center">
                Announcements<br>
            </h1>
            <ul >

                <li><label for="Announcement">New Announcement&nbsp;</label><input id="Announcement">
                <button id="home-announcement-add" type="button" onclick="addAnnouncement()">Add</button></li><br>
                <li>My Announcements <br></li> <br>
                <!---<li>Schedule <input name="editSchedule" type="button" value="Edit"></li>--->

            </ul>


        </div>
        <br>

    </form>

    <ul id="display-announcements" >

    </ul>
</body>

</html>