{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>HomePage</title>
    <link rel="stylesheet" href="{% static 'styleSheet.css' %}" />  <!-- Corrected the linking syntax -->
</head>
<body>
    <p style="font-size: xx-large; text-align: center;">There are four projects, please choose your project</p>
    <form id="projects" action="home" class="home_list">
        <ul>
        <li><a href="#"><img src="../static/imgs/hr.png"><br>Human Resources</a></li>
        <li><a href="../signin"><img src="../static/imgs/logo.png"><br>Students Affairs</a></li>
         </ul>
         <ul>
        <li><a href="#"><img src="../static/imgs/higher.png"><br>Higher Studies</a></li>
        <li><a href="#"><img src="../static/imgs/logos.png"><br>Laboratory Tracking</a></li>
        </ul>
    </form>
</body>
</html>
