{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="{% static 'styleSheet.css' %}">

    <title>Search page</title>
</head>

<header>
    <nav>
        <ul class="left">

            <li><img src="../../../static/imgs/logo.png" alt="" width="20px" height="20px" title="logo"></li>
            <li><a href="../../">Home</a></li>
            <li><a href="../../profile">Profile</a></li>
            <li><a href="../../student_screen">Student Screen</a></li>
        </ul>
        <ul class="right">
            <li><a href="../../../signin">Sign out</a></li>
            <li><a href="../../help">Help?</a></li>
        </ul>
    </nav>
    <script>
    function handle(e){
        if(e.keyCode === 13){
            e.preventDefault(); // Ensure it is only this code that runs
            search_operation();
        }
    }
      function search_operation() {
          const name = document.getElementById("search");
          window.location = name.value;
      }
    </script>
</header>

<body>
    <div class="center">
        <form><div>
            <input id="search" placeholder="student name" onkeypress="handle(event)">
            <label>
                <img src="../../../static/imgs/searchIcon.png" alt="" width="80px" height="70px" title="search icon" onclick="search_operation()">
            </label>
        </div>
        </form>
    </div>

    <table>
        <tr>
            <th> id </th>
            <th> Name </th>
            <th> GPA </th>
            <th> Gender </th>
            <th> Level </th>
            <th> Department</th>
            <th> Department Assignment </th>
            <th> Edit </th>
            <tbody id="searchBody">
            {% for student in students %}
          <tr>
            <td>{{student.id}}</td>
            <td>{{student.name}}</td>
            <td>{{student.gpa}}</td>
            <td>{{student.gender}}</td>
            <td>{{student.level}}</td>
            <td>{{student.department}}</td>
            <td>
              <a href="../Department_Assignment_student/{{student.id}}"><button name="edit" type="">Department Assignment</button></a>
            </td>
            <td>
              <a href="../edit_student/{{student.id}}"><button name="edit" type="">Edit</button></a>
            </td>
          </tr>
          {% endfor %}
            </tbody>

        </tr>
            </tbody>

        </tr>
    </table>
</body>
