{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="{% static 'styleSheet.css' %}">
  <title>Student Screen</title>
</head>


<header>
  <nav>
    <ul class="left">

      <li><img src="../static/imgs/logo.png" alt="" width="20px" height="20px" title="logo"></li>
      <li><a href="../home">Home</a></li>
      <li><a href="profile">Profile</a></li>
      <li><a href="student_screen" class="myPage">Student Screen</a></li>
    </ul>
    <ul class="right">
      <li><a href="../signin">Sign out</a></li>
      <li><a href="help">Help?</a></li>
    </ul>
  </nav>
</header>

<body>
  <div>
    <ul class="buttons-list">
      <li><a href="student_screen/add_student">Add new student</a></li>
      <li><a href="student_screen/view">View All students</a></li>
      <li><a href="student_screen/search/all/">Search</a></li>
    </ul>

  </div>
</body>

</html>