{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>View Students</title>
    <link rel="stylesheet" href="{% static 'styleSheet.css' %}">
</head>


<header>
    <nav>
        <ul class="left">

            <li><img src="imgs/logo.png" alt="" width="20px" height="20px" title="logo"></li>
            <li><a href="../">Home</a></li>
            <li><a href="../profile">Profile</a></li>
            <li><a href="../student_screen">Student Screen</a></li>
        </ul>
        <ul class="right">
            <li><a href="../../signin">Sign out</a></li>
            <li><a href="../help">Help?</a></li>
        </ul>
    </nav>
</header>

<body>
    <h3>View Students Records</h3>

    <div>
        <label for="department-filter">Filter by department</label>
        <select id="department-filter">
            <option value="All">All</option>
            <option value="CS">CS</option>
            <option value="DS">DS</option>
            <option value="IS">IS</option>
            <option value="AI">AI</option>
        </select>
    </div><br>

    <div>
        <table id="table-records">
            <tr>
                <th><b>ID</b></th>
                <th><b>Name</b></th>
                <th><b>GPA</b></th>
                <th><b>Gender</b></th>
                <th><b>Level</b></th>
                <th><b>Department</b></th>
                <th><b>Status</b></th>
                <th><b>Edit</b></th>
            </tr>
            <tbody id ="tbody">
            </tbody>
        </table>
    </div>
    <script type="text/javascript" src="script.js" defer></script>

</body>
